.testimonial-slider{

    overflow:hidden;

    max-width:800px;

    margin:auto;
}

.slides{

    display:flex;

    transition:.5s;
}

.slide{

    min-width:100%;

    padding:40px;

    text-align:center;
}